.project {
  color: red;
}

#flagbody {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  height: 500px;
  width: 900px;
}

#innerlogo {
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
  position: relative;
  background-color: #ebaa53;
  width: 600px;
  height: 300px;
  display: flex;
}

#left1Cut {
  position: absolute;
  background-color: #191919;
  width: 300px;
  height: 300px;
  bottom: 0;
  right: 434px;
  bottom: 24px;
  clip-path: circle(42.1% at 50% 50%);
}
