.project {
  color: red;
}

#flagbody {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  height: 500px;
  width: 900px;
}

#innerlogo {
  display: flex;
  align-items: center;
  place-items: center;
  justify-content: center;
  position: relative;
  background-color: #ebaa53;
  width: 600px;
  height: 300px;
  display: flex;
}
/* The cuttings from left to right */
#left1Cut {
  position: absolute;
  background-color: #191919;
  width: 300px;
  height: 300px;
  bottom: 0;
  right: 434px;
  bottom: 26px;
  clip-path: circle(42.1% at 50% 50%);
}
#left2Cut {
  position: absolute;
  background-color: #191919;
  width: 300px;
  height: 300px;
  right: 488px;
  top: 111px;
  bottom: 130px;
  left: 5px;
  clip-path: circle(42.1% at 50% 50%);
}
#right1Cut {
  position: absolute;
  background-color: #191919;
  width: 300px;
  height: 300px;
  right: 488px;
  top: -26px;
  bottom: 130px;
  left: 383px;
  clip-path: circle(42.1% at 50% 50%);
}
#right2Cut {
  position: absolute;
  background-color: #191919;
  width: 300px;
  height: 300px;
  right: 488px;
  top: 111px;
  bottom: 130px;
  left: 244px;
  clip-path: circle(42.1% at 50% 50%);
}

/* The blackish cut for the head */
#headflag {
  position: absolute;
  width: 163px;
  height: 87px;
  right: 488px;
  top: -14px;
  bottom: 130px px;
  left: 196px;
  border-radius: 15px;
  background-color: #191919;
}

#head {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 488px;
  top: 29px;
  bottom: 130px px;
  left: 250px;
  border-radius: 3px;
  background-color: #ebaa53;
}

#leftear {
  position: absolute;
  background-color: #ebaa53;
  width: 30px;
  height: 30px;
  right: 429px;
  top: 16px;
  bottom: 142px;
  left: 236px;
  clip-path: circle(42.1% at 50% 50%);
}
#rightear {
  position: absolute;
  background-color: #ebaa53;
  width: 30px;
  height: 30px;
  right: 429px;
  top: 16px;
  bottom: 142px;
  left: 287px;
  clip-path: circle(42.1% at 50% 50%);
}
/* Coverings */
#cover1 {
  position: absolute;
  background-color: #191919;
  width: 100px;
  height: 100px;
  right: 429px;
  top: 220px;
  bottom: 217px;
  left: 502px;
}
#cover2 {
  position: absolute;
  background-color: #191919;
  width: 100px;
  height: 100px;
  right: 429px;
  top: 220px;
  bottom: 217px;
  left: -22px;
}
#cover3 {
  position: absolute;
  background-color: #191919;
  width: 100px;
  height: 100px;
  right: 429px;
  top: -23px;
  bottom: 230px;
  left: 538px;
}
